a#download {
    padding: .7em;
    border: solid #f58b00ff .2em;
    font-weight: bold;
    text-decoration: none;
    background-color: #a288e3ff;
    color: #38023b;
}

div#interface img {
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
}

#download {
    margin-bottom: 20px;
    margin-left: 45%;
    width: 10%;
    margin-right: 45%;
}
section img{
    margin-bottom: 20px;
}