a#download {
    padding: .7em;
    border: solid #f58b00ff .2em;
    font-weight: bold;
    text-decoration: none;
    background-color: #a288e3ff;
    color: #38023b;
}
#interface{
    padding-top: 2em;
}
